*{
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
}

html
{
	scroll-behavior: smooth;
}
h1,h2{
	font-family: 'Viaoda Libre', cursive;
}

#banner 
	{
	background-image: url("images/back.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	height: 100vh;
	padding: 80px 0;
	position: relative;
}


.banner-text
{
	padding-top: 150px;
	color: #fff;
	text-align: center;

}

.banner-text h1
{
	font-size: 60px;

}
.banner-text h1 span
{
	color: #ffa500;
	font-family: cursive;
}

.banner-text p
{
	font-size: 40px;

}
.banner-btn
{
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	transition: transform 0.5s;
	

}

.banner-btn img{
	width: 64px;
	height: 104px;
	text-align: center;
	display: block;
	padding: 20px 0;
	margin: auto;
	animation: arrowAnimate 2s ease infinite;
}

@keyframes arrowAnimate{
	0%,20%, 50%,80%,100%{
		transform: translateY(0);
	}
	40%{
		transform: translateY(-30px);
	}
	60%{
		transform: translateY(-15px);
	}
}
.banner-btn a
{
	text-decoration: none;
	color: #000;
	border: 1px solid #fff;
	padding: 16px 12px;
	margin-bottom: 40px;
	position: relative;
	z-index: 1;
	font-size: 20px;
	font-weight: 400;
	background: lightblue;
	border: none;
	border-radius: 5px;

}

.banner-btn a span
{
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background:orange;
	z-index: -1;
	transition: 0.5s;
}

.banner-btn :hover span
{
	width: 100%;

}

.banner-btn a:hover
{
	color:orange;
	color: #fff;
	transition: background 0.5s;
}


/*media query for home page*/

@media (max-width: 470px){


#banner{
	margin-bottom: -40px;
}
.banner-text
{
	padding-top: 110px;
	margin: 10px 10px;
}

.banner-text h1
{
	font-size: 26px;

}
.banner-text p
{
	font-size: 16px;
	margin-top: 10px;

}

}

/*menu section*/

.sidebar  #menubtn{
	display: none;

}
.sidebar{
	width: 100%;
	background: #001;
	height: 80px;
	position: sticky;
	top: 0;
	right: 0;
	border-bottom: 2px solid orange;
	z-index: 2;

}
#menubtn img{
	width: 40px;
	height: 40px;
	float: right;
}
.sidebar .menu{
	line-height: 40px;
	float: right;
	margin-top: 20px;
}
.sidebar .logo{
	width: 60px;
	height: 60px;
	border-radius: 5px;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	cursor: pointer;
}

.menu ul li{
 list-style: none;
 display: inline-block;
 margin-right: 50px;

}

.menu li:nth-child(1){
	background: orange;
	padding: 2px 12px;
	border-radius: 5px;
}
.menu li a:nth-child(1){
color: #fff;
}
.menu ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;

}
.menu a:hover{
	border-left: 2px solid orange;
	border-bottom: 2px solid orange;
	padding: 3px;
	transition: 3s;
}



@media (max-width: 470px){

	.menu{
		width: 100%;
		height: auto;
		background: linear-gradient(rgba(0,0,0,0.9), #001);
		margin-bottom: 20px;
		overflow: hidden;
		transition: max-height 0.5s;

	}

	
	.menu ul{
		text-align: center;
		border-radius: 10px;
		margin-top: 10px;

	}
	.menu ul li{
		margin-right: 10px;
		display: block;
	}
	.menu ul li a{
		font-size: 11px;
	}

.menu li:nth-child(1){
	background: orange;
	padding: 2px 12px;
	border-radius: 5px;
	width: 100px;
	margin: 0 auto;

}
.menu li a:nth-child(1){
color: #fff;
}
	.sidebar #menubtn{
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	float: right;
	margin-top: 20px;
	margin-right: 15px;
	cursor: pointer;
	background: white;
}

.sidebar .menu{
	
	margin-top: 10px;
}
.menu a:hover{
	border-left: 2px solid orange;
	border-bottom: 2px solid orange;
	padding: 3px;
	transition: 0.5s;
}
}
/*container*/

.container
{
	padding: 80px 0;
	max-width: 100%;
	text-align: center;
	margin: 0 auto;
}

.container h1
{
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
	text-transform: uppercase;
	font-weight: 600;

}

.container h1:after
{
	content: "";
	background: #ccc;
	width: 90px;
	height: 5px;
	display: block;
	margin: 10px auto;
	margin-bottom: 30px;
	border: 1px dotted #111
	border-radius:5px;
	
}



/*Section that contain images*/

.content
{	
	display: flex;
	align-content: center;
	justify-content: space-between;
	padding: 0 30px;

}
.content .myability
{
	width: 31%;
	height: 250px;
	background: #fff;
	text-align: center;
	margin-top: 30px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
	box-shadow: -3px 5px 5px 3px #ccc;

}
.content .myability img
{
	margin-top: 10px;

	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	border: 1px solid #ccc;
	padding: 20px;
	color: #fff;

}

.content .myability p
{
	text-align: center;
	padding-top: 5px;
	line-height: 1.6em;

}

/*media query for container*/

@media (max-width: 470px){

.container h1
{
	text-align: center;
	font-size: 18px;	

}

.content{
	display: block;

}
.content .myability
{
	
	width: 100%;

}

}
/*color the section*/

#programming
{
	background: radial-gradient(#001,cyan);
}

#programming .content .myability
{
	box-shadow: 3px -5px 3px 3px lightblue;


	
}

#programming .myability img
{
	margin-top: 10px;

	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #fff;
	padding: 20px;

}

.aboutme
{
	width: 48%;
	height: auto;
	background: #fff;
	text-align: center;
	margin-top: 30px;
	margin-left: 10px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: -2px 5px 5px 3px lightblue;


}

.aboutme img
{
	width: 300px;
	height: auto;
	margin-top: 40px;
	border-radius: 7px;
}

.aboutme   img:hover
{
	transform: scale(1.1);
	transition: 0.5s ease;
	opacity: 0.8;
}
.aboutme p
{
	text-align: initial;
	line-height: 1.6em;
	padding: 5px;
}
.aboutme  ul li
{
	text-align: initial;
	line-height: 1.6em;

}

.aboutme ul li span a
{
	text-decoration: none;
	border: 1px solid #ccc;
	margin-top: 3px;
	display: block;
	width: 150px;
	padding: 5px;
	text-align: center;
	background: lightblue;


}

/*about me media query*/

@media (max-width: 470px){


.content .aboutme
{
	width: 100%;
	display: block;
}

.aboutme img
{
	width: 52%;
	border-radius: 7px;
	background-image:rgba(0,0,0,0.5); 
	height: auto;
}
}



/*project executions*/

#project
{
	background: #efefef;

}


 .content .project

{
	width: 31%;
	height: auto;
	background: #fff;
	text-align: center;
	margin-top: 30px;
	margin-left: 10px;
	padding: 20px;
	border: 1px	solid #ccc;
	border-radius: 7px;
	position: relative;
}

/*overlay*/
.overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	border-radius: 7px;
	background: linear-gradient(rgba(0,0,0,0.6),#002);
	transition: 1s;
}
.about-project{
	display: none;
	position: absolute;
	bottom: 40%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 12px;
	color: #fff;
}

.project:hover .overlay
{
opacity: 1;
}

.project:hover .about-project{
display: block;
}
#project .content .project h2, p
{
	padding: 10px;
	text-align: center;
}
#project .content .project img
{
	margin-top: 10px;
	width: 300px;
	height: 300px;
	background: #fff;
	padding: 20px;

}



/*project me media query*/

@media (max-width: 470px){

.content .project

{
	width: 100%;
	display: block;
}

#project .content .project img
{
	
	width: 100%;
	height: auto;
}

.project h2
{
	font-size: 14px;
}

}
/*contact us*/



 #contact-container{
	background: linear-gradient(#001,#002);
	width: 100%;
	color: #fff;

}

.form_input{
	margin: 15px 0;
}

 .form_input input{
	width: 400px;
	padding: 15px 20px;
	border: 2px solid #ccc;
	outline: none;
	border-radius: 10px;
	font-size: 15px;
}

.form_input textarea{
	padding: 12px 20px;
	width: 400px;
	height: 80px;
	resize: none;
	border: 2px solid #ccc;
	font-size: 15px;
}

.form_input textarea,input:focus{
	outline: none;
}
.form_wrapper
{
	text-align: center;

	display: block;
}



.submit_btn input[type='submit']{
	display: block;
	width: 100px;
	border: none;
	border-radius: 5px;
	margin: 30px auto;
	padding: 15px 12px;
	background: orange;
	color: #003;
	text-align: center;
	font-size: 16px;
	font-weight: 400;


}

 .submit_btn input[type='submit']:hover{
 	color: #002;
 	cursor: pointer;
 	transition: background 0.5s;

 }


.social
{
	margin-bottom: 30px;
}
.social hr
{
	background: #111;
	width: 80%;
	height: 3px;
	margin: 70px auto;
	color: black
}

 .social h2
 {
 	text-align: center;

 }

 .social a
 {
 	text-align: center;
 	text-decoration: none;
 	margin-right: 10px;
 }
 .social-icon a img
 {		
 		width: 44px;
 		height: 44px;
 		border-radius: 3px;
 		background: #000;
 }

 .social-icon
 {
 	width: 30%;
 	margin: 5px auto;
 	text-align: center;
 	margin-top: 20px;

 }

 .social-icon a img:hover
 {
 	transform: translateY(-10px);
 	background: none;
 }


/*social media query*/
@media (max-width: 470px){

.social-icon
{
	width: 100%;
	height: 40px;
}
}
 /*footer*/

 footer
 {
 	text-align: center;
 	margin-bottom: 30px;
 	padding: 20px 30px;
 }
 footer ul li
 {
 	list-style: none;
 	display: inline-block;
 	margin: 20px;
	color: gray;
	font-weight: bolder;
	 }
 
footer ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	border: 1px solid red;
	padding: 4px;
	border-radius: 10px;
	margin-top: 5px;
}


 /*mdia query for all*/


/*content do*/
@media (max-width: 470px){


	.form_input input{
	width: 90%;
	padding: 15px 20px;
	border: 2px solid #ccc;
}

.form_input textarea{
	padding: 12px 20px;
	width: 90%;
	height: 80px;
	resize: none;
	border: 2px solid #ccc;
}
footer ul li
 {
 	
 	margin-right: 40px;
	font-weight: bold;
	display: inline-block;
	 }

	 #programming myability h2
	 {
	 	font-size: 14px;
	 }
.container h1:after
{
	margin-left: 38%;
}