*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

html
{
	scroll-behavior: smooth;
}
body
{
	font-family: sans-serif,tahoma;
	font-size: 16px;
}
	#banner
	{
	background-image:url("images/back.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}


.banner-text
{
	padding-top: 190px;
	color: #fff;
	text-align: center;

}

.banner-text h1
{
	font-size: 60px;

}
.banner-text h1 span
{
	color: #ffa500;
	font-family: cursive;
}

.banner-text p
{
	font-size: 40px;

}
.banner-btn
{
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	

}

.banner-btn a
{
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px;
	position: relative;
	z-index: 1;
	transition: color 0.5s;
	font-size: 20px;
}

.banner-btn a span
{
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background:lightblue;
	z-index: -1;
	transition: 0.5s;
}

.banner-btn ul li:hover span
{
	width: 100%;
}

.banner-btn a:hover
{
	color:#000;
	background: lightblue;
}


/*media query for home page*/

@media (max-width: 720px){



.banner-text
{
	padding-top: 190px;
	margin: 5px 10px;
}

.banner-text h1
{
	font-size: 20px;

}
.banner-text p
{
	font-size: 16px;
	margin-top: 10px;

}

}


/*menu container*/
.menu-container
{
	width: 100%;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	position: sticky;
	top: 0;
	left: 0px;
	background: #002;
	z-index: 2;
	border-bottom: 3px solid green;


}
#menubtn img
{
	
	display: none;
}




.menu-wrapper
{
	width: 100%;
	position: absolute;
	
	
}


#menubtn 
{
	display: none;
}

.menu-wrapper ul li
{
	list-style: none;
	display: inline-block;
	margin: 30px 20px;
	padding-left: 10px;

}

.menu-wrapper ul li a
{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	margin-right: 10px;

}

.menu-wrapper ul li a:hover
{
	background: orange;
	color: #001;
}


/*media query for menu*/

@media (max-width: 720px){




.menu-container
{
	
	position: fixed;

}

#menubtn
{
	width: 44px;
	height: 44px;
	position: fixed;
	right: 20px;
	top: 0;
	margin-top: 20px;
	background: #fff;
	display: block;
}


.menu-wrapper 
{
	display: none;
	margin-top: 70px;
	height: auto;
	background: #002;
	border-bottom: 3px solid green;

}

.menu-wrapper ul li
{
	display:block;
	margin: 10px 5px;
	padding-left: 10px;
	margin-top: 20px;
	text-align: center;
}

}

#menubtn img
{
	display: block;
	width: 44px;
	height: 44px;
	background: white;
	margin-top: 5px;
}
.menu-wrapper img:hover
{
	cursor: pointer;
}


.container
{
	width: 100%;
	background: #fff;


}

.container h1
{
	text-align: center;
	font-size: 20px;
	padding-top: 80px;
	text-transform: uppercase;
	font-weight: 600;

}

.container h1:after
{
	content: "";
	background: #111;
	width: 90px;
	height: 5px;
	display: block;
	margin-left: 47%;
	margin-top: 20px;
	margin-bottom: 30px;
	
}


/*media query for container*/

@media (max-width: 720px){




.container h1
{
	text-align: center;
	font-size: 18px;
	

}

.container h1:after
{
	
	margin-left: 40%;
	
	
}

.content
{
	display: inline-block;
}
.content .myability
{
	width: 100%;
	display: block;
	}
}
/*Section that contain images*/

.content
{	
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-content: center;
	justify-content: space-between;
	padding: 20px;

}
.content .myability
{
	width: 31%;
	height: 250px;
	background: #fff;
	text-align: center;
	margin-top: 30px;
	padding: 10px;
	box-shadow: 10px 5px 5px 3px lightblue;

}
.content .myability img
{
	margin-top: 10px;

	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: lightgreen;
	padding: 20px;
	color: #fff;

}

.content .myability p
{
	text-align: center;
	padding-top: 5px;
	line-height: 1.6em;

}

/*color the section*/

#programming
{
	background: #efefef;
}

#programming .content .myability
{
	box-shadow: 10px 5px 5px 3px lightblue;


	
}

#programming .myability img
{
	margin-top: 10px;

	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #fff;
	padding: 20px;

}

.content .aboutme
{
	width: 48%;
	height: auto;
	background: #fff;
	text-align: center;
	margin-top: 30px;
	margin-left: 10px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 10px 5px 5px 3px lightblue;


}

.aboutme img
{
	width: 300px;
	height: auto;
	margin-top: 40px;
}

.aboutme   img:hover
{
	transform: scale(1.1);
	transition: 0.5s ease;
}
.aboutme p
{
	text-align: initial;
	line-height: 1.6em;
	padding: 5px;
}
.aboutme  ul li
{
	text-align: initial;
	line-height: 1.6em;

}

.aboutme ul li span a
{
	text-decoration: none;
	border: 1px solid #ccc;
	margin-top: 3px;
	display: block;
	width: 150px;
	padding: 5px;
	text-align: center;
	background: lightblue;


}

/*about me media query*/

@media (max-width: 720px){


.content .aboutme
{
	width: 100%;
	display: block;
}

.aboutme img
{
	width: 52%;
	border-radius: 7px;
	background-image:rgba(0,0,0,0.5); 
	height: auto;
}
}



/*project executions*/

#project
{
	background: #efefef;
}


 .content .project

{
	width: 31%;
	height: auto;
	background: #fff;
	text-align: center;
	margin-top: 30px;
	margin-left: 10px;
	padding: 20px;
	border: 1px	solid #ccc;
}

.content .project:hover
{
transform: scale(1.1);
transition: 0.5s ease;

}
#project .content .project h2, p
{
	padding: 10px;
	text-align: center;
}
#project .content .project img
{
	margin-top: 10px;
	width: 300px;
	height: 300px;
	background: #fff;
	padding: 20px;

}



/*project me media query*/

@media (max-width: 720px){

.content .project

{
	width: 100%;
	display: block;
}

#project .content .project img
{
	
	width: 80%;
	height: auto;
}

.project h2
{
	font-size: 14px;
}

}
/*contact us*/



 #contact-container{
	background: #001;
	width: 100%;
	color: #fff;

}

  
 

.form_input{
	margin: 15px 0;
}

 .form_input input{
	width: 400px;
	padding: 15px 20px;
	border: 2px solid #ccc;
}

.form_input textarea{
	padding: 12px 20px;
	width: 400px;
	height: 80px;
	resize: none;
	border: 2px solid #ccc;
}

.form_wrapper
{
	text-align: center;

	display: block;
}



.submit_btn input[type='submit']{
	display: block;
	width: 180px;
	height: 40px;
	border: 1px solid #fb2274;
	line-height: 40px;
	margin: 30px auto;
	background: #fff;
	color: #000;
	text-align: center;
	font-size: 16px;


}

 .submit_btn input[type='submit']:hover{
 	background-color: lightblue;
 	color: #111;
 	cursor: pointer;

 }


.social
{
	margin-bottom: 30px;
}
.social hr
{
	background: #111;
	width: 80%;
	height: 3px;
	margin: 70px auto;
	color: black
}

 .social h2
 {
 	text-align: center;

 }

 .social a
 {
 	text-align: center;
 	text-decoration: none;
 	margin-right: 10px;
 }
 .social-icon a img
 {		
 		width: 44px;
 		height: 44px;
 		border-radius: 3px;
 		background: #000;
 }

 .social-icon
 {
 	width: 30%;
 	margin: 5px auto;
 	text-align: center;
 	margin-top: 20px;

 }

 .social-icon a img:hover
 {
 	transform: translateY(-10px);
 	background: none;
 }


/*social media query*/
@media (max-width: 720px){

.social-icon
{
	width: 100%;
	height: 40px;
}
}
 /*footer*/

 footer
 {
 	text-align: center;
 	margin-bottom: 30px;
 	padding: 40px;
 }
 footer ul li
 {
 	list-style: none;
 	display: inline-block;
 	margin-right: 30px;
	color: gray;
	font-weight: bolder;
	 }
 body{
 	background: #001;
 }



 /*mdia query for all*/


/*content do*/
@media (max-width: 720px){


.content
{
	display: inline-block;

}
.content .myability
{
	width: 100%;
	display: block;
	margin-left: 20px;
	}

	.form_input input{
	width: 90%;
	padding: 15px 20px;
	border: 2px solid #ccc;
}

.form_input textarea{
	padding: 12px 20px;
	width: 90%;
	height: 80px;
	resize: none;
	border: 2px solid #ccc;
}
footer ul li
 {
 	
 	margin-right: 40px;
	font-weight: bold;
	 }

	 #programming myability h2
	 {
	 	font-size: 14px;
	 }
.container h1:after
{
	margin-left: 38%;
}